$colorSuccess: #3DBA3F;
$colorWarning: #FFA200;
$colorDanger: #F9614A;
$colorPrimary: #4c91f6;
$colorInfo: #909399;
$colorTitle: #303133;
$colorText: #606266;
$borderColor: #C9CCD4;
$borderColorLt: #DEE0E3;
$borderColorLter: #E9E9EB;
